<div  class="container rounded-3 border-dark border border-2 my-5 bg-white" style="height:auto;">
    <div>
    <h1>To-Do List</h1>
    
    <div class="row">
        <label for="todoInput">Enter To-Do Item:</label>
        <div class="col-8">
        <input type="text" class="py-3 form-control shadow" id="todoInput" placeholder="Add a task" [(ngModel)]="newTodo" minlength="4" maxlength="200">
    </div>
    
    <div class="col-2">
    <button class="mt-2 btn btn-success" (click)="addTodo()">Add To-Do</button>
</div>
</div>
    <ul class="list-group mt-3">
        <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let todo of todos">
            {{ todo }}
            <button class="btn btn-danger btn-sm" (click)="removeTodo(todo)">Delete</button>
        </li>
    </ul>
</div>
<hr>
</div>



